{% extends "base.html" %}
{% block title %}Delete {{tag.name}}{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12 my-3">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="text-center">
                <strong>Are you sure you want to delete {{tag.name}} ?</strong>
                <br>
                <input class="btn btn-danger" type="submit" value="YES">
                <a href="{%url 'tags' %}" class="btn btn-primary">NO</a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}